<p id="notice"><%= notice %></p>
<div class="row" >
	<div class="col-sm-12 " >
		<p style="float:left;margin-bottom:30px;margin-top:30px;font-size:20px">



 		 <%= @comment.body %>
		</p>
	</div>
</div>
 

<p> 
  <strong><%= @comment.user.name.titleize %></strong>
</p>


<%= link_to 'Back', comments_path %>
